// Variables 
$website-width: 1280px;
$shading: #f5f5f5;
$backdrop: #e2e2e2;
$mainText: #71091e;
$secondaryText: #605f5e;
$tertiaryText: #227396;
$styleText: #71ad82;

// Utilities
.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    font-weight: 100; 
    text-align: center;
}

// Margins and Padding
.py {
    &-1 {
        padding: 1rem 0;
    }

    &-2 {
        padding: 2rem 0;
    }

    &-3 {
        padding: 3rem 0;
    }

    &-4 {
        padding: 4rem 0;
    }
}

.my {
    &-1 {
        margin: 1rem 0;
    }

    &-2 {
        margin: 2rem 0;
    }

    &-3 {
        margin: 3rem 0;
    }

    &-4 {
        margin: 4rem 0;
    }
}

// Buttons 
%btn-shared {
    display: inline-block;
    padding: 0.5rem .5rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: $mainText;
        background-color: transparent;
        border-radius: 50%;
        border: 1px $mainText solid;
    }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover {
    background-color: $styleText;
}

// Header
#header {

    // Home
    &-home {
        background: url("img/hero_image2.jpeg") no-repeat center right / cover;
        height: 100vh;
        color: #fff;

        // Content
        .header-content {
            text-align: center;
            padding-top: 3%;
            line-height: 1.2;
        }

    }

    // Inner
    &-inner {
        background: url("img/hero_image2.jpeg") no-repeat center right / cover;
        height: 100vh;
        color: #fff;
    }
}

// Logo
#logo {
    width: 70px;
    height: 70px;
}

// Main Nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        list-style: none;
        padding: 1rem 1rem;
    }

    a {
        text-decoration: none;
        color: $mainText;
        border-bottom: 1px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $styleText;
            color: $styleText;
        }

        &.current {
            border-color: $styleText;
        }
    }
}

// Home Section
#home {
    &-a {
        background: $shading;

        .specials {
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);

            .fas {
                color: $styleText;
                padding-bottom: 0.4rem;
            }
        }
    }
}

// Footer

#main-footer {
    background: $backdrop;
    color: $styleText;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;
        color: $styleText;

        .social .fab {
            margin-right: 1rem;
            border: 2px $styleText solid;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            line-height: 15px;
            text-align: center;
            padding: 0.5rem;

            &:hover {
                background: $mainText;
            }
        }
    }
}

// About Me
.about-me {
   margin-top: 5.5rem;
   border-radius: 5%;
    height: 10 rem;
    background: rgba(245, 242, 242, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(5px);
}

.profile {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 1rem 3rem 3rem 1rem;
}

.me {
    height: 350px;
    width: 275px;
    border-radius: 50%;
    border: 1px #71ad82 solid;
}